@model okhunjonov_shoyatbek_todolist.Models.ViewModels.HomeDetailsViewModel

@{
    ViewBag.Title = "ToDo List Details";
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            @foreach (var toDoEntry in Model.ToDoEntries)
            {
                    <h4 style="color:red;">Entry Title: @toDoEntry.Title</h4>
                    <h4>Description: @toDoEntry.Description</h4>
                    <h4>Due date: @toDoEntry.DueDate</h4>
                    <h4>Current status: @toDoEntry.ToDoEntryStatus</h4>
                    <h4>Creation date: @toDoEntry.CreationDate</h4>
                    @if (toDoEntry.AdditionalField != null)
                    {
                        <h4>Additional note: @toDoEntry.AdditionalField</h4>
                    }
            }
        </div>
    </div>
</div>


