@model okhunjonov_shoyatbek_todolist.Models.ViewModels.HomeIndexViewModel

@{
    ViewBag.Title = "Hidden ToDo Lists";
}

<div class="container card-deck">
    <div class="card-header">
        <a asp-controller="home" asp-action="index" class="btn btn-primary">Back to not hidden ToDo Lists</a>
    </div>
</div>
<div class="card-deck">
    @foreach (var toDoList in Model.ToDoLists)
    {
        if (toDoList.ToDoListShow != ToDoListShowHidden.Show)
        {
            <div class="card m-3" style="min-width:18rem; max-width:30.5%;">
                <div class="card-header">
                    <h3 style="text-align:center;">@toDoList.Name</h3>
                </div>
                <div class="card-header">
                    <h4 style="text-align:center;">ToDo Entries inside: @toDoList.ToDoEntries.Count()</h4>
                </div>
                <div class="card-footer text-center">
                    <a asp-controller="home" asp-action="details" asp-route-Id="@toDoList.Id" class="btn btn-primary m-1">View</a>
                    <a asp-controller="home" asp-action="delete" asp-route-Id="@toDoList.Id" class="btn btn-primary m-1">Delete</a>
                    <a asp-controller="home" asp-action="edit" asp-route-Id="@toDoList.Id" class="btn btn-primary m-1">Update</a>
                    <a asp-controller="home" asp-action="hidetodolist"></a>
                </div>
            </div>
        }
    }
</div>
